@media screen and ( max-width : 1000px ) {
    .subtitle {
        font-size: 16px;
    }

    .header-container>ul>li {
        display: none;
    }

    .block-container>h1 {
        font-size: 40px;
    }

    .feature-content>p {
        font-size: 15px;
    }

    .feature-content4>*>h2 {
        font-size: 20px;
    }

    .feature-content4>*>p {
        font-size: 15px;
    }
}

@media screen and ( max-width : 960px ) {
    .achievements {
        flex-direction: column-reverse;
    }

    .achievements>aside {
        margin-top: 2rem;
        width: 80%;
    }

    .achievements>img {
        margin-top: 2rem;
        width: 100%;
        font-size: 18px;
    }

    .items {
        width: 80%;
        margin: auto;
    }

    .footer-list {
        width: 70%;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    .footer-container>p {
        text-align: center;
        margin: 2.5rem 1rem;
    }
}

@media screen and ( max-width : 750px ) {
    .feature-content2>.izquierda {
        display: none;
    }

    .feature-content3 {
        width: 100%;
    }

    .feature-content4 {
        flex-direction: column;
        text-align: center;
    }

    .feature-content4>span>img {
        width: 3rem;
        height: auto;
        margin-bottom: 10px;
    }

    .feature-derecha>h2 {
        margin-bottom: 10px;
    }

    .feature-derecha>p {
        margin-bottom: 10px;
    }

    .feature-content4>.feature-derecha {
        width: 100%;
    }

    .team {
        height: auto;
    }

    .background {
        display: none;
    }

    .CEO {
        position: initial;
        top: 0;
        left: 0;
        transform: none;
    }
}

@media screen and ( max-width : 500px ) {
    .video-content {
        width: 90%;
        margin: auto;
    }

    .play {
        width: 3rem;
        height: auto;
    }

    .options {
        justify-content: space-between;
    }
    
    .button {
        padding: 0;
        width: 45%;
    }
}