body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 15px;
}

/*Header*/
.header-container {
    margin: 2% 5%;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: inherit;
    justify-content: center;
    font-size: 20px;
}

ul, li {
    list-style-type: none;
}

ul {
    width: 75%;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

li{
    display: inline;
    justify-content: center;
    margin: 15px;
}

.pointer {
    cursor: pointer;
}

.rotar {
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

/*Contenido*/
.container {
    margin: auto;
}

.subtitle {
    color: #ff8053;
    font-size: 25px;
    font-weight: bold;
}

/*Video*/
.video-container {
    height: 90vh;
    position: relative;
    display: inline-block;
    text-align: center;

    background-size: cover;
    background-position: center;
    width: 100%;

    background: url(img/cielo.png);
}

.video-content {
    width: 500px;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.introSVG {
    display: flex;
    justify-content: center;
}

svg.play {
    text-align: center;
}

.play {
    cursor: pointer;
}

.texto {
    display: block;
}

p.texto {
    font-size: 15px;
}

.options {
    display: flex;
    justify-content: center;
}

.button {
    margin: 5%;
    padding: 1%;
    background-color: #202020;
    color: #FFF;
    border-radius: 35px;
    width: 25%;
}

.button:hover {
    cursor: pointer;
    background-color: #ff8040;
}

/*Adorable Features*/
.feature-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.feature-content {
    align-items: center;
    text-align: center;
    width: 50%;
    padding-top: 3vw;
    margin-bottom: 3vw;
}

.feature-content2 {
    width: 100%;
    display: flex;
	vertical-align: middle;
}

.feature-content3 {
    flex-direction: column;
    align-items: center;
    width: 50%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.feature-content4 {
    width: 75%;
    display: flex;
    margin-bottom: 1rem;
}

.izquierda {
    width: 50%;
    font-size: 20px;
    text-align: start;
}

.izquierda>img {
    width: 100%;
    height: 100%;
}

.feature-content4>span>img {
    width: 3vw;
    height: 3vw;
    margin-right: 1vw;
}

.feature-derecha {
    width: 90%;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
}

.feature-derecha>h2 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.feature-derecha>p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.feature-content4>img {
	padding-top: 1rem;
}

/*More Valued Facts*/
.valued-container {
    background-color: #f6f6f6;
    padding-top: 7vw;
    padding-bottom: 7vw;
    margin-top: 7vw;
}

.block-container {
    text-align: center;
    margin: auto 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.items {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.icons {
    width: 25%;
}

.item {
    height: 20%;
    width: 193px;
    margin: 0 auto;
    margin-bottom: 1rem !important;
    border-radius: 5px;
    box-shadow: 0 0 1.5px #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    background-color: #FFF;
}

.item>h3 {
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #69686b;
}

.item>a {
    text-decoration: none;
    font-weight: bold;
    color: #2f2220;
}

/*Our Professional Achievements*/
.achievements {
    display: flex;
    align-items: center;
}

aside {
    float: left;
    margin-right: 2.5%;
    margin-left: 2.5%;
    width: 45%;
    height: 100%;
}

.bars {
    clear: both;
    padding: 1vw;
}

.barras {
    margin: 1vw 0vw;
}

.derecha {
    width: 50%;
    font-size: 20px;
    text-align: right;
}

.progress {
    background-color: #e9ecef;
    height: 8px;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 2rem;
	padding: 0px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.progress1 {
    background-color: #fc8c50;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.progress2 {
    background-color: #f1c30f;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.progress3 {
    background-color: #84b813;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.progress_black {
    background-color: #18191d;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.achievements>img {
    float: right;
    height: 100%;
    width: 50%;
}

.porcentajes {
    display: flex;
    flex-direction: row;
}

/*Team*/
.team {
    text-align: center;
    background-color: #f6f6f6;
    padding: 3rem 0rem;
    margin-bottom: 4rem;
    position: relative;
    height: 1200px;
}

.personas {
    display: flex;
    margin-top: 4rem;
    text-align: center;
}

.persona {
    width: 100%;
    max-width: 365px;
    margin: auto;
    padding: 1rem;
    background-color: #FFF;
    display: inline;
}

.persona>*>*>.izquierda {
    font-size: 1vw;
}

.persona>*>*>.derecha {
    font-size: 1vw;
}

.persona>img {
    width: 100%;
}

.background {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.background>.persona {
    background-color: #f0f0f0;
}

.CEO {
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Footer*/
.footer-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 3vw;
}

.footer-list {
    width: 30%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}